<h1> add shop</h1>

<form action="Shops" method="post">

  <label class="shop">shop</label>
<input type="text" name="shops" value="" placeholder="enter shop name" class="shop">

  <div class="addbtn">
 <button class="btn" type="submit" name="addbtn">add</button>
</div>

</form>