<h2> New avo deal</h2>

<form action="newDeal" method="get">

 <label for="shop">select a shop:</label>
  <select name="shop_id" id="shop_id">
    <option value="shop">select shop</option>
    </select>

 <label class="price"> add price</label>
<input type="text" name="price" value="" placeholder="add price" class="price">

 <label class="qty"> add Qty</label>
<input type="text" name="qty" value="" placeholder="add qty" class="qty">

  <div class="submit">
 <button class="btn" type="submit" name="btn">submit</button>
</div>
</form>