<h2> shop list</h2>

<form action="list" method="post" >
<ul class="list">
    {{#each listShop}}
    <li> {{name}}</li>
    {{/each}}
</ul>
</form>

<div>
	<a href="New avo deal">add new avo deal</a>
</div>